.App,
#root,
html {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
}

body {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
}

ul {
  list-style: none;
}

li {
  padding: 1rem;
}
